.Rproj.user
.Rhistory
.RData
.Ruserdata

data-unzip/
data-raw/
P1_rasterPackageIntroduction_I-v1_files/
P2_rasterPackageIntroduction_II-v1_files/
P3_rasterPackage_exercises_I-v1_files/
P3_rasterPackage_solutions_I-v1_files/
P4_rasterPackageIntroduction_III-v1_files/
P5_rasterPackageIntroduction_IV-v1_files/
P6_rasterPackage_exercises_II-v1_files/
P6_rasterPackage_solutions_II-v1_files/
P7_rasterPackageAdvanced_I-v1_files/
P8_rasterPackageAdvanced_II-v1_files/
P9_rasterPackageAdvanced_III-v1_files/
P10_rasterPackage_exercises_III-v1_files/
P10_rasterPackage_solutions_III-v1_files/
